		<div class='navbar navbar-inverse navbar-static-top' role='navigation'>
			<div class='container'> 
				<div class='navbar-header'>
					<button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
						<span class='sr-only'>Toggle navigation</span>
						<span class='icon-bar'></span>
						<span class='icon-bar'></span>
						<span class='icon-bar'></span>
					</button>
					<strong><a class='navbar-brand' href='/'>IMGEO</a></strong>
				</div>
				<div class='navbar-collapse collapse'>
					<ul class='nav navbar-nav navbar-right'>
						{% if index %}
						<li><a href='/#about'><i class='glyphicon glyphicon-eye-open glyphicon-white'></i> About</a></li>
						{% endif %}
						<li><a href='/upload'><i class='glyphicon glyphicon-upload glyphicon-white'></i> Upload</a></li>
					</ul>
					{% if not index and not upload %}
					<form id='search-form' class='navbar-form navbar-right' role='search' method='get'>
						<span class='input-group'>
							<input id='search-input' name='search' type='search' class='form-control' required placeholder='Search...' />
							<span class='input-group-btn'>
								<button type='submit' class='btn btn-primary'>
									<i class='glyphicon glyphicon-search'></i>
								</button>
							</span>
						</span>
					</form>
					{% endif %}
				</div>
			</div>
		</div>
