{% extends "base.html" %}
{% block CSS %}
		<link rel='stylesheet' href='/css/upload.css'>
{% endblock %}

{% block CONTENT %}
{% include "navBar.html" %}
		<div class='container'>
			<div class='row'>
				<div class='col-md-1 col-12'></div>
				<div class='col-md-5 col-12'>
					<form id='upload-form' role='form' enctype='multipart/form-data' method='POST'>
						<ul>
							<li><label for='imgname'>Image Name</label></li>
							<li>
								<input 
								id='imgname' 
								type='text' 
								name='imgname' 
								class='form-control' 
								placeholder='Enter name'
								required autofocus >
							</li>
							<li><label for='location'>Location</label></li>
							<li>
								<input 
								id='location' 
								type='text' 
								name='location'
								class='form-control' 
								placeholder='Enter a longitude, latitude or click on the map!'
								required >
							</li>
							<li><label for='image'>Select an Image</label></li>
							<li>
								<div class='input-group'>
									<span class='input-group-btn'>
										<span class='btn btn-default btn-file'>
											Browse 
											<input 
											id='image' 
											type='file' 
											name='image' 
											class='form-control' 
											required > 
										</span>
									</span>
									<input type='text' name='filename' class='form-control' readonly>
								</div>
							</li>
							<li><label for='tags'>Tags:</label></li>
							<li>
								<input 
								id='tags'
								type='text'
								name='tags'
								class='form-control'
								placeholder='Enter tags separated by commas'>
							</li>
							<li><button type='submit' class='btn btn-primary'>Submit</button></li>
						</ul>
					</form>	
				</div>
				<div class='col-md-5 col-12' id='map-canvas'></div>
				<div class='col-md-1 col-12'></div>
			</div>
		</div>
{% include "footer.html" %}
{% endblock %}

{% block SCRIPTS %}
		<script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false'></script>
		<script type='text/javascript' src='/js/upload.js'></script>
{% endblock %}
