/* --- NAVBAR STYLES --- */
/* Fixes a webkit bug, see: https://github.com/twbs/bootstrap/issues/9950 */
.navbar > .input-group { 
	width: 250px; 
}

.navbar > #search-input { 
	width: 250px;
}

.navbar-static-top { 
	margin-bottom: 19px;
}

/* --- CONTENT STYLES --- */
body > .container { 
	display: inline-block;
	position: relative;
	width: 100%;
}

body > .container > #dummy { 
	padding-top: 75%; 
}

code { 
	font-size: 80%;
}
/* --- END CONTENT STYLES --- */ 

/* --- FOOTER STYLES --- */
html { 
	position: relative; 
	min-height: 100%;
}

body { 
	margin-bottom: 60px;
}

#footer { 
	position: absolute;
	bottom: 0;
	width: 100%; 
	height: 60px; 
	background-color: #383838;
}

.container .text-muted { 
	margin: 20px 0;
}

#footer > .container { 
	padding-right: 15px;
	padding-left: 15px;
}
/* --- END FOOTER STYLES --- */
